In [155]:
import  pandas as pd
data = pd.read_csv("donnees/thanksgiving.csv", encoding='latin-1')
# Afficher les premiÃ¨res lignes de data
data.head()
data = data[data['Do you celebrate Thanksgiving?']=='Yes']
data.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [156]:
print(data['Age'].value_counts())
print()
print("Age is null")
print(data['RespondentID'][data['Age'].isnull()=='True'])

45 - 59    269
60+        258
30 - 44    235
18 - 29    185
Name: Age, dtype: int64

Age is null
Series([], Name: RespondentID, dtype: int64)

In [272]:
#convertit une chaine de caractÃ¨res en une valeur entiÃ¨re. Cela permettra de convertir les valeurs 
#de la colonne 'Age' en entiers. 
#Cette fonction prendra en paramÃ¨tre une chaine de caractÃ¨res (les valeurs actuelles de la colonne 'Age')
import pandas as pd
from pandas import Series

def convert_age_nombre(p_age):
    if  pd.isnull(p_age):
        return None
    # decoupe = str(p_age).split()
    # age=decoupe[0]
    # if age.find('+') > -1 :
    #     age =  age.replace('+','')
    #return int(age)
    #ou
    return int(p_age.split()[0].replace('+',''))

#creer colonne int_age dont sa valeur est calculÃ© en fonction convert_age_nombre(s) appliquÃ© s/'Age'

data['int_age'] = data.loc[:,'Age'].apply(lambda s: convert_age_nombre(s))
#data['int_age'] = data['Age'].apply(lambda s: convert_age_nombre(s))

des_int_age.describe()
#count: nb
#mean: moyen
#std: l'Ã©cart de moyen
#25%: qui moins 30a

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [158]:
data.int_age.describe()

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [275]:
#pour convertir les revenus en valeur unique de format entier.
import pandas as pd
import re 
def convert_income(income):
    if  pd.isnull(income) : 
        return None
    decoupe = str(income).split()
    inc=decoupe[0]
    if re.match('Prefer(.)*',inc) : 
        return None
    inc =  inc.replace('$','')
    inc = inc.replace(',','')
    return float(inc)

# Utiliser la mÃ©thode Series.apply() pour appliquer la fonction prÃ©cÃ©dente Ã  chaque valeur 
# de la colonne 'How muchtotal combinedmoney didall membersof yourHOUSEHOLD earnlast year?'   

data['int_income'] = data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(lambda s: convert_income(s))
data.int_income.describe()

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [188]:
#prend col 'How far' an appliquant filtre int_income < 150000

#df_income150000 = data['How far will you travel for Thanksgiving?'][data["int_income"]<150000]
df_income150000 = data.loc[:,'How far will you travel for Thanksgiving?'][data['int_income']<150000]

print("How far will you travel for Thanksgiving? -- INCOME < 150000")
df_income150000.value_counts()

How far will you travel for Thanksgiving? -- INCOME < 150000

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [164]:
#prend col 'How far' an appliquant filtre int_income > 150000
df_income_plus150000 = data['How far will you travel for Thanksgiving?'][data["int_income"]>150000]

print("How far will you travel for Thanksgiving? -- INCOME plus de 150000")
df_income_plus150000.value_counts()

How far will you travel for Thanksgiving? -- INCOME plus de 150000

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

In [162]:
#GÃ©nÃ©rer un pivot de table montrant la moyenne d'Ã¢ge des sondÃ©s pour chaque catÃ©gorie des 
#questions 'Have youevertriedto meetup withhometownfriendson Thanksgiving night?' et 
#'Have youeverattendeda "Friendsgiving?"'.
print("La moyen d'age de sondÃ©s par question ")
data.pivot_table(index = 'Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"', values='int_age')

La moyen d'age de sondÃ©s par question

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [163]:
print("La moyen income de sondÃ©s par question ")
data.pivot_table(index = 'Have you ever tried to meet up with hometown friends on Thanksgiving night?', columns='Have you ever attended a "Friendsgiving?"', values='int_income')

La moyen income de sondÃ©s par question

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

In [182]:
#
import numpy as np
print("PIVOT la moyen d'age, d'income de sondÃ© rÃ©ponse 'Have you attended a Friendsgiving?' par rÃ©gion")
data.pivot_table(index='US Region', columns='Have you ever attended a "Friendsgiving?"', values={'int_age','int_income'}, aggfunc=np.mean)

PIVOT la moyen d'age, d'income de sondÃ© rÃ©ponse 'Have you attended a Friendsgiving?' par rÃ©gion

                                             int_age               int_income  \
Have you ever attended a "Friendsgiving?"         No        Yes            No
US Region
East North Central                         43.173913  35.600000  76635.514019
East South Central                         46.000000  39.000000  68974.358974
Middle Atlantic                            41.837838  36.000000  94285.714286
Mountain                                   43.909091  38.684211  80789.473684
New England                                43.428571  31.384615  91029.411765
Pacific                                    40.636364  36.283019  75746.268657
South Atlantic                             42.689189  38.127273  73511.450382
West North Central                         38.612903  29.333333  68300.000000
West South Central                         39.600000  29.700000  85196.078431


Have you ever attended a "Friendsgiving?"           Yes
US Region
East North Central                         63750.000000
East South Central                         76428.571429
Middle Atlantic                            76296.296296
Mountain                                   96666.666667
New England                                73500.000000
Pacific                                    70204.081633
South Atlantic                             62777.777778
West North Central                         59444.444444
West South Central                         66400.000000

In [231]:
#fonction converstion age en numÃ©ric, 
def extract_num_age(s) : 
    motif = re.compile('[0-9]+') #creer regex contient character numÃ©ric [0-9] et repÃ¨te au moins 1 fois (+)
    #match recherche pattern motif qui commence au bout du string s
    #si trouve, Ã§a donne un obj match (verifie true)
    if re.match(motif,str(s)) :
        ag = int(re.match(motif,str(s)).group()) #group: envoi entiÃ¨rement la valeur trouvÃ©
        return ag
    else :
        return None

data['int_age']=data['Age'].apply(lambda s: extract_num_age(s))
print(data['int_age'].describe())

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

In [271]:
def extract_income(i) :
    pattern = re.compile('\$[0-9]+')
    if re.match(pattern, str(i)):
        inc = re.sub(re.match(pattern, str(i)).group(),'$','')
        inc = re.sub(inc,',','')
        print("inc = ",re.match(pattern, str(i)).group())
        print(i, "--", inc)
        return float(inc)
    else :
        return None

data['income2']=data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(lambda i: extract_income(i))
print(data['income2'].describe())

inc =  $75
$75,000 to $99,999 -- ,

ValueError: could not convert string to float: ','

In [279]:
df_income_plus150000

3       Thanksgiving is local--it will take place in t...
15      Thanksgiving is local--it will take place in t...
16      Thanksgiving is local--it will take place in t...
25      Thanksgiving is out of town but not too far--i...
39      Thanksgiving is happening at my home--I won't ...
                              ...
982     Thanksgiving is happening at my home--I won't ...
983     Thanksgiving is out of town but not too far--i...
993     Thanksgiving is happening at my home--I won't ...
1015    Thanksgiving is local--it will take place in t...
1026    Thanksgiving is local--it will take place in t...
Name: How far will you travel for Thanksgiving?, Length: 102, dtype: object

In [208]:
m = p.match('tempo').group()
print(m)
print(type(m))

tempo
<class 'str'>

In [205]:
print(p.match('::: message'))

None

In [206]:
print(p.search('::: message'))

<re.Match object; span=(4, 11), match='message'>