In [49]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://nga:Simplon123!@localhost/simplon")
print("Connection est prete")

Connection est prete

In [50]:
#read donnee brut
df_sondage = pd.read_excel('Jeux_de_donnees/Data_Professional_Salary_Survey_Responses_1.xlsx', sheet_name='Salary Survey')
df_sondage.head(4)

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2021,2020-12-10 08:22:42.696,65000.0,Sweden,NaN,Microsoft SQL Server,4,Microsoft SQL Server,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2016,SQL Server 2016,"<= 20,000 (town)",Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2021,2020-12-10 08:23:22.242,145000.0,United States,76063,Microsoft SQL Server,15,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2014,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
2,2021,2020-12-10 08:23:37.909,105000.0,United States,43240,Microsoft SQL Server,12,"PostgreSQL, Azure SQL DB (any flavor)",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2017,SQL Server 2008R2,300K-1M (large city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2021,2020-12-10 08:23:48.152,46482.0,United Kingdom,NaN,Microsoft SQL Server,10,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2012,300K-1M (large city),"Education (K-12, college, university)",Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1

In [51]:
columns_sondage = df_sondage.columns
columns_sondage

Index(['Survey Year', 'Timestamp', 'SalaryUSD', 'Country', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'NewestVersionInProduction', 'OldestVersionInProduction',
       'PopulationOfLargestCityWithin20Miles', 'EmploymentSector',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')

In [52]:
data_year_sondage = df_sondage['Survey Year']
data_year_sondage = data_year_sondage.drop_duplicates()
data_year_sondage

0       2021
1747    2020
3470    2019
4349    2018
7443    2017
Name: Survey Year, dtype: int64

In [53]:
#crÃ©er un serie d'annee de sondage
Survey_Year = df_sondage["Survey Year"]
#crÃ©er df de serie Survey_Year, et nom du column est 'sdg_year'
#Attention: nom du col doit Ãªtre meme nom du col dans DB
data_Survey_Year = pd.DataFrame({"sdg_year":Survey_Year})
data_Survey_Year = data_Survey_Year.drop_duplicates()
data_Survey_Year = data_Survey_Year.reset_index()
data_Survey_Year = data_Survey_Year.drop(columns=["index"])
data_Survey_Year = data_Survey_Year.reset_index()
data_Survey_Year = data_Survey_Year.rename(columns={"index":"sdg_id"})
#data_Survey_Year.sdg_id = data_Survey_Year.sdg_id*25
data_Survey_Year.sdg_id = data_Survey_Year.sdg_id+1
data_Survey_Year

   sdg_id  sdg_year
0       1      2021
1       2      2020
2       3      2019
3       4      2018
4       5      2017

#inserer Ã  table sondage

In [54]:

data_Survey_Year.to_sql('sondage', if_exists='append', con=engine, index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'")
[SQL: INSERT INTO sondage (sdg_id, sdg_year) VALUES (%(sdg_id)s, %(sdg_year)s)]
[parameters: ({'sdg_id': 1, 'sdg_year': 2021}, {'sdg_id': 2, 'sdg_year': 2020}, {'sdg_id': 3, 'sdg_year': 2019}, {'sdg_id': 4, 'sdg_year': 2018}, {'sdg_id': 5, 'sdg_year': 2017})]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

In [48]:
result = pd.read_sql_query('SELECT * FROM sondage;', engine)
result

   sdg_id  sdg_year
0       1      2021
1       2      2020
2       3      2019
3       4      2018
4       5      2017

In [65]:
Country = df_sondage["Country"]
data_country = pd.DataFrame({"ctr_name":Country})
data_country = data_country.drop_duplicates()
data_country = data_country.reset_index()
data_country = data_country.drop(columns=["index"])
data_country = data_country.reset_index()
data_country = data_country.rename(columns={"index":"ctr_id"})
data_country.ctr_id = data_country.ctr_id+1
data_country

    ctr_id        ctr_name
0        1          Sweden
1        2   United States
2        3  United Kingdom
3        4        Pakistan
4        5        Paraguay
..     ...             ...
92      93         Albania
93      94         Bolivia
94      95         Vietnam
95      96         Bermuda
96      97           Kenya

[97 rows x 2 columns]

In [66]:
data_country.to_sql('country', if_exists='append', con=engine, index=False)

In [67]:
result_ctr = pd.read_sql_query('SELECT * FROM country;', engine)
result_ctr

    ctr_id        ctr_name
0        1          Sweden
1        2   United States
2        3  United Kingdom
3        4        Pakistan
4        5        Paraguay
..     ...             ...
92      93         Albania
93      94         Bolivia
94      95         Vietnam
95      96         Bermuda
96      97           Kenya

[97 rows x 2 columns]

In [77]:
Database = df_sondage["PrimaryDatabase"]
data_Primary_Database = pd.DataFrame({'db_name': Database})
data_Primary_Database = data_Primary_Database.drop_duplicates()
data_Primary_Database = data_Primary_Database.reset_index()
data_Primary_Database = data_Primary_Database.drop(columns=["index"])
data_Primary_Database = data_Primary_Database.reset_index()
data_Primary_Database = data_Primary_Database.rename(columns={"index": "db_id"})
data_Primary_Database.db_id =data_Primary_Database.db_id+1
data_Primary_Database

    db_id                  db_name
0       1     Microsoft SQL Server
1       2               PostgreSQL
2       3                    Other
3       4             Azure SQL DB
4       5         Microsoft Access
5       6                   Oracle
6       7            MySQL/MariaDB
7       8  Amazon RDS (any flavor)
8       9                  MongoDB
9      10                      DB2
10     11                Cassandra
11     12                   SQLite
12     13                      SAP
13     14                 Teradata
14     15            Elasticsearch

In [78]:
data_Primary_Database.to_sql('database', if_exists='append', con=engine, index=False)

In [82]:
result_db = pd.read_sql_query("SELECT * FROM 'database';", engine)
result_db

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''database'' at line 1")
[SQL: SELECT * FROM 'database';]
(Background on this error at: http://sqlalche.me/e/14/f405)