In [2]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://nga:Simplon123!@localhost/simplon")
print("Connection est prete")

Connection est prete

In [3]:
df_sondage = pd.read_excel('Jeux_de_donnees/Data_Professional_Salary_Survey_Responses_1.xlsx', sheet_name='Salary Survey')
df_sondage

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2021,2020-12-10 08:22:42.696,65000.0,Sweden,NaN,Microsoft SQL Server,4,Microsoft SQL Server,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2016,SQL Server 2016,"<= 20,000 (town)",Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2021,2020-12-10 08:23:22.242,145000.0,United States,76063,Microsoft SQL Server,15,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2014,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
2,2021,2020-12-10 08:23:37.909,105000.0,United States,43240,Microsoft SQL Server,12,"PostgreSQL, Azure SQL DB (any flavor)",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2017,SQL Server 2008R2,300K-1M (large city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2021,2020-12-10 08:23:48.152,46482.0,United Kingdom,NaN,Microsoft SQL Server,10,Azure SQL DB (any flavor),Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2012,300K-1M (large city),"Education (K-12, college, university)",Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
4,2021,2020-12-10 08:24:03.600,98800.0,United States,468,Microsoft SQL Server,5,DB2,Full time employee,"Developer: Business Intelligence (SSRS, PowerB...",...,SQL Server 2019,SQL Server 2012,100K-299K (city),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10336,2017,2017-01-14 15:50:23.936,36549.0,United Kingdom,Not Asked,Microsoft SQL Server,3,NaN,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,No,Not Asked,Not Asked,Not Asked,Not Asked,1
10337,2017,2017-01-15 01:01:21.212,65000.0,Saudi Arabia,Not Asked,Microsoft SQL Server,7,"Oracle, MySQL/MariaDB, Microsoft Access, SQLite",Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
10338,2017,2017-01-15 03:25:47.422,85000.0,Netherlands,Not Asked,Microsoft SQL Server,17,Oracle,Full time employee,Other,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1
10339,2017,2017-01-15 03:37:35.305,90000.0,United States,Not Asked,Microsoft SQL Server,8,MySQL/MariaDB,Full time employee,DBA,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, actively looking for something else",Not Asked,Not Asked,Not Asked,Not Asked,1
10340,2017,2017-01-15 03:37:59.149,23000.0,Portugal,Not Asked,Microsoft SQL Server,4,"PostgreSQL, DB2, Microsoft Access",Full time employee,Architect,...,Not Asked,Not Asked,Not Asked,Private business,"Yes, but only passively (just curious)",Not Asked,Not Asked,Not Asked,Not Asked,1

In [3]:
series_Year_Sondage = df_sondage['Survey Year'] 
temp_Sondage = pd.DataFrame({'sdg_year':series_Year_Sondage}).reset_index()
temp_Sondage

       index  sdg_year
0          0      2021
1          1      2021
2          2      2021
3          3      2021
4          4      2021
...      ...       ...
10336  10336      2017
10337  10337      2017
10338  10338      2017
10339  10339      2017
10340  10340      2017

[10341 rows x 2 columns]

In [4]:
db_Sondage = pd.read_sql_query('SELECT * FROM sondage;', engine)
db_Sondage
#print(type(db_Sondage))

   sdg_id  sdg_year
0       1      2021
1       2      2020
2       3      2019
3       4      2018
4       5      2017

In [18]:
merge_data_year_db = pd.merge( db_Sondage, temp_Sondage, on='sdg_year', validate='one_to_many')
merge_data_year_db

       sdg_id  sdg_year  index
0           1      2021      0
1           1      2021      1
2           1      2021      2
3           1      2021      3
4           1      2021      4
...       ...       ...    ...
10336       5      2017  10336
10337       5      2017  10337
10338       5      2017  10338
10339       5      2017  10339
10340       5      2017  10340

[10341 rows x 3 columns]

In [28]:
result_join =  data_sondage_item.join(merge_data_year_db[['sdg_id', 'sdg_year']], on='index', how='left', lsuffix='_left', rsuffix='_right')
print(result_join)

       index  Survey Year  SalaryUSD  sdg_id  sdg_year
0          0         2021    65000.0       1      2021
1          1         2021   145000.0       1      2021
2          2         2021   105000.0       1      2021
3          3         2021    46482.0       1      2021
4          4         2021    98800.0       1      2021
...      ...          ...        ...     ...       ...
10336  10336         2017    36549.0       5      2017
10337  10337         2017    65000.0       5      2017
10338  10338         2017    85000.0       5      2017
10339  10339         2017    90000.0       5      2017
10340  10340         2017    23000.0       5      2017

[10341 rows x 5 columns]

In [6]:
list_col_sondage_item =['timestamp', 'salary_usd', 'postal_code', 'years_with_db', 'manage_staff', 'years_with_job', 'other_people', 'company_employee', 'database_servers', 'eduction_computer', 'hours_worked', 'telecommute', 'newest_version', 'oldest_version', 'gender']
list_col_cle_etr_sondage = ['sdg_id', 'ctr_id', 'primary_db_id', 'emp_id', 'job_id', 'mcp_id', 'edu_id', 'cert_id', 'pop_id', 'sec_id', 'look_id', 'cap_id']
len(list_col_sondage_item)

15

In [7]:
# creer var 'list_col_donnees' qui consiste des col données propriétaire de sondage 
# (pas de col devenue cle_etrangere)
list_col_donnees = ['Timestamp', 'SalaryUSD', 'PostalCode', 'YearsWithThisDatabase',    'ManageStaff', 'YearsWithThisTypeOfJob', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',   'DatabaseServers', 'EducationIsComputerRelated', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek', 'NewestVersionInProduction', 'OldestVersionInProduction', 'Gender']
len(list_col_donnees)

15

In [8]:
data_sondage_item = df_sondage[{'Survey Year','SalaryUSD'}]
# data_sondage_item = df_sondage[list_col_donnees]
data_sondage_item = data_sondage_item.reset_index()

data_sondage_item

       index  Survey Year  SalaryUSD
0          0         2021    65000.0
1          1         2021   145000.0
2          2         2021   105000.0
3          3         2021    46482.0
4          4         2021    98800.0
...      ...          ...        ...
10336  10336         2017    36549.0
10337  10337         2017    65000.0
10338  10338         2017    85000.0
10339  10339         2017    90000.0
10340  10340         2017    23000.0

[10341 rows x 3 columns]

In [9]:
#rename tous les cols du DF sondage_item en  nom de champs de la table
# data_sondage_item = data_sondage_item.rename(columns={ancien : list_col_sondage_item[list_col_donnees.index(ancien)] for ancien in list_col_donnees })

In [6]:
# {'name_col': 'PrimaryDatabase', 'table': 'simplon.database', 'cle_etr': 'primary_db_id',        'list_col_name' : {'col_id':'db_id', 'col_name': 'db_name'}}, 

#creer une dictionnaire de cols devenus clé_etrangère
col_cle_etr_sondage_1_n_sans_sdg_id = [
    {'name_col': 'Survey Year', 'table': 'sondage', 'cle_etr': 'sdg_id',
     'list_col_name' : {'col_id':'sdg_id', 'col_name': 'sdg_year'}}, 
    {'name_col': 'Country', 'table': 'country', 'cle_etr': 'ctr_id',
     'list_col_name' : {'col_id':'ctr_id', 'col_name': 'ctr_name'}}, 
    {'name_col': 'EmploymentStatus', 'table': 'employment_status', 'cle_etr': 'emp_id',  
     'list_col_name' : {'col_id':'emp_id', 'col_name': 'emp_status'}},
    {'name_col': 'JobTitle', 'table': 'job', 'cle_etr': 'job_id', 
     'list_col_name' : {'col_id':'job_id', 'col_name': 'job_name'}}, 
    {'name_col': 'HowManyCompanies', 'table': 'how_many_companies', 'cle_etr': 'mcp_id', 
     'list_col_name' : {'col_id':'mcp_id', 'col_name': 'mcp_many_companies'}}, 
    {'name_col': 'Certifications', 'table': 'certification', 'cle_etr': 'cert_id', 
     'list_col_name' : {'col_id':'cert_id', 'col_name': 'cert_name'}},
    {'name_col': 'PopulationOfLargestCityWithin20Miles', 'table': 'largest_city', 
     'cle_etr': 'pop_id', 'list_col_name' : {'col_id':'pop_id', 'col_name': 'pop_name'}}, 
    {'name_col': 'EmploymentSector', 'table': 'employment_sector', 
     'cle_etr': 'sec_id', 'list_col_name' : {'col_id':'sec_id', 'col_name': 'sec_name'}},
    {'name_col': 'LookingForAnotherJob', 'table': 'looking_job', 
     'cle_etr': 'look_id', 'list_col_name' : {'col_id':'look_id', 'col_name': 'look_job'}},
    {'name_col': 'CareerPlansThisYear', 'table': 'carreer_plan', 
     'cle_etr': 'cap_id', 'list_col_name' : {'col_id':'cap_id', 'col_name': 'cap_plan'} }  ]

In [11]:
#afficher la liste de dictionnaire de col de donnees brutes, 
# clé_etrangere et table provenance 
for element in col_cle_etr_sondage_1_n_sans_sdg_id: 
    for k, v in element.items() :
        if k != 'list_col_name' : 
            print(k, ' -> ', element[k] )
        else:
            print(k)
            for k_list, v_list in v.items() :
                print(k_list, ' = ', v_list)
    print('---')

name_col  ->  Survey Year
table  ->  sondage
cle_etr  ->  sdg_id
list_col_name
col_id  =  sdg_id
col_name  =  sdg_year
---
name_col  ->  Country
table  ->  country
cle_etr  ->  ctr_id
list_col_name
col_id  =  ctr_id
col_name  =  ctr_name
---
name_col  ->  EmploymentStatus
table  ->  employment_status
cle_etr  ->  emp_id
list_col_name
col_id  =  emp_id
col_name  =  emp_status
---
name_col  ->  JobTitle
table  ->  job
cle_etr  ->  job_id
list_col_name
col_id  =  job_id
col_name  =  job_name
---
name_col  ->  HowManyCompanies
table  ->  how_many_companies
cle_etr  ->  mcp_id
list_col_name
col_id  =  mcp_id
col_name  =  mcp_many_companies
---
name_col  ->  Certifications
table  ->  certification
cle_etr  ->  cert_id
list_col_name
col_id  =  cert_id
col_name  =  cert_name
---
name_col  ->  PopulationOfLargestCityWithin20Miles
table  ->  largest_city
cle_etr  ->  pop_id
list_col_name
col_id  =  pop_id
col_name  =  pop_name
---
name_col  ->  EmploymentSector
table  ->  employment_sector
cle_etr  ->  sec_id
list_col_name
col_id  =  sec_id
col_name  =  sec_name
---
name_col  ->  LookingForAnotherJob
table  ->  looking_job
cle_etr  ->  look_id
list_col_name
col_id  =  look_id
col_name  =  look_job
---
name_col  ->  CareerPlansThisYear
table  ->  carreer_plan
cle_etr  ->  cap_id
list_col_name
col_id  =  cap_id
col_name  =  cap_name
---

In [7]:
#def ajouter_col_cle_etran_sondage_item(engine):

data_sondage_item = df_sondage[{'Survey Year','SalaryUSD'}]
# data_sondage_item = df_sondage[list_col_donnees]
data_sondage_item = data_sondage_item.reset_index()
print('Dataframe sondage_item')
print(data_sondage_item.head(10))
print(data_sondage_item.shape)
print()
for element in col_cle_etr_sondage_1_n_sans_sdg_id:
    #print(element['table'].upper(), '->->->')
    #creer une series du col_devenue_cle_etrangere
    series_tmp = df_sondage[str(element['name_col'])] 
    #creer dataframe de donnees brutes
    dataframe_tmp = pd.DataFrame({element['list_col_name']['col_name']:series_tmp})
    dataframe_tmp = dataframe_tmp.reset_index()
    #print(dataframe_tmp.head(3))
    #print()
    
    #extraire données de la table provenance (table en 1)
    #print('extraire de la table = ', element['table'])
    tmp_data = pd.read_sql_query('SELECT * FROM %s;' %(element['table']), engine)
    #print(tmp_data)
    #print()
    
    #fusione 2 dataframe 'donnees brutes' et 'donnes DB'
    #print('col de jointure = ', element['list_col_name']['col_name'])
    merge_data_tmp = pd.merge( tmp_data, dataframe_tmp, on=str(element['list_col_name']['col_name']), validate='one_to_many')
    merge_data_tmp = merge_data_tmp.sort_values('index').reset_index()
    merge_data_tmp = merge_data_tmp.drop(columns=['level_0', 'index'])
    
    #merge_data_tmp = merge_data_tmp.drop(columns=['index'])
    #print('merge resultat')
    #print(merge_data_tmp.head(10))

    #joint merge data à sondage_item
    # [[element['list_col_name']['col_name'],element['list_col_name']['col_name']]]
    result_join =  data_sondage_item.join(merge_data_tmp[[element['list_col_name']['col_id']]], on='index', how='left', lsuffix='_left', rsuffix='_right')
    data_sondage_item = result_join
    #print('sondage item --->')
    #print(data_sondage_item.head(5))

print('Result: sondage item --->')

print(data_sondage_item)

Dataframe sondage_item
   index  SalaryUSD  Survey Year
0      0    65000.0         2021
1      1   145000.0         2021
2      2   105000.0         2021
3      3    46482.0         2021
4      4    98800.0         2021
5      5     2500.0         2021
6      6   100800.0         2021
7      7   160000.0         2021
8      8   105000.0         2021
9      9    61100.0         2021
(10341, 3)

Result: sondage item --->
       index  SalaryUSD  Survey Year  sdg_id  ctr_id  emp_id  job_id  mcp_id  \
0          0    65000.0         2021       1       1       1       1     1.0
1          1   145000.0         2021       1       2       1       2     4.0
2          2   105000.0         2021       1       2       1       3     1.0
3          3    46482.0         2021       1       3       1       2     1.0
4          4    98800.0         2021       1       2       1       1     4.0
...      ...        ...          ...     ...     ...     ...     ...     ...
10336  10336    36549.0         2017       5       3       1      13     NaN
10337  10337    65000.0         2017       5      73       1      13     NaN
10338  10338    85000.0         2017       5      28       1      11     NaN
10339  10339    90000.0         2017       5       2       1      13     NaN
10340  10340    23000.0         2017       5      18       1       7     NaN

       cert_id  pop_id  sec_id  look_id  cap_id
0          1.0     1.0       1      1.0     1.0
1          1.0     2.0       1      1.0     1.0
2          2.0     3.0       1      1.0     1.0
3          1.0     3.0       2      1.0     1.0
4          2.0     4.0       1      1.0     1.0
...        ...     ...     ...      ...     ...
10336      NaN     NaN       1      NaN     NaN
10337      NaN     NaN       1      NaN     NaN
10338      NaN     NaN       1      NaN     NaN
10339      NaN     NaN       1      NaN     NaN
10340      NaN     NaN       1      NaN     NaN

[10341 rows x 13 columns]

In [8]:
data_sondage_item = data_sondage_item.apply(lambda None: if x.isna() )

In [9]:
data_sondage_item

,index,SalaryUSD,Survey Year,sdg_id,ctr_id,emp_id,job_id,mcp_id,cert_id,pop_id,sec_id,look_id,cap_id
0,0,65000.0,2021,1,1,1,1,1.0,1.0,1.0,1,1.0,1.0
1,1,145000.0,2021,1,2,1,2,4.0,1.0,2.0,1,1.0,1.0
2,2,105000.0,2021,1,2,1,3,1.0,2.0,3.0,1,1.0,1.0
3,3,46482.0,2021,1,3,1,2,1.0,1.0,3.0,2,1.0,1.0
4,4,98800.0,2021,1,2,1,1,4.0,2.0,4.0,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040,3040,135000.0,2020,2,2,1,3,4.0,1.0,2.0,1,2.0,5.0
3041,3041,115000.0,2020,2,2,1,2,4.0,3.0,2.0,1,2.0,5.0
3042,3042,53000.0,2020,2,8,1,9,1.0,1.0,3.0,1,2.0,4.0
3043,3043,80000.0,2020,2,23,1,5,4.0,3.0,2.0,1,2.0,2.0
3044,3044,114000.0,2020,2,9,1,4,1.0,1.0,2.0,1,2.0,1.0