In [7]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame([[1,12], [2,25], [3, 37]], columns=['A','B'])
df2 = pd.DataFrame([[1,'a'], [1,25], [2, 'b'], [2, 35], [3, 56], [2, 45]], columns=['A','B'])
df1

   A   B
0  1  12
1  2  25
2  3  37

In [7]:
df2

   A   B
0  1   a
1  1  25
2  2   b
3  2  35
4  3  56
5  2  45

In [8]:
df2['C'] = 0
df2['C'] = pd.apply()

   A   B  C
0  1   a  3
1  1  25  3
2  2   b  3
3  2  35  3
4  3  56  3
5  2  45  3

In [26]:
df2['C'] = df2.apply(df1['B'][df1['A']==df2['A']], axis=1)

ValueError: Can only compare identically-labeled Series objects

In [21]:
df2

   A   B     C
0  1   a  12.0
1  1  25   NaN
2  2   b   NaN
3  2  35   NaN
4  3  56   NaN
5  2  45   NaN