In [2]:
import pandas as pd
fandago = pd.read_csv("donnees/fandango_score_comparison.csv")
fandago.head(5)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [3]:
#travail s/series
ser_film = fandago["FILM"]
print(type(ser_film))
print()
print(ser_film[0:5])

<class 'pandas.core.series.Series'>

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [6]:
se_rot = fandago["RottenTomatoes"]
print(se_rot[0:5])

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [7]:
#personnalise les index
#import pk Series
from pandas import Series
#recupere les valeurs d'une series, type de retour dataframe
film_names = ser_film.values
rot_scores = se_rot.values
print(type(film_names))
print(film_names)

<class 'numpy.ndarray'>
['Avengers: Age of Ultron (2015)' 'Cinderella (2015)' 'Ant-Man (2015)'
 'Do You Believe? (2015)' 'Hot Tub Time Machine 2 (2015)'
 'The Water Diviner (2015)' 'Irrational Man (2015)' 'Top Five (2014)'
 'Shaun the Sheep Movie (2015)' 'Love & Mercy (2015)'
 'Far From The Madding Crowd (2015)' 'Black Sea (2015)' 'Leviathan (2014)'
 'Unbroken (2014)' 'The Imitation Game (2014)' 'Taken 3 (2015)'
 'Ted 2 (2015)' 'Southpaw (2015)'
 'Night at the Museum: Secret of the Tomb (2014)' 'Pixels (2015)'
 'McFarland, USA (2015)' 'Insidious: Chapter 3 (2015)'
 'The Man From U.N.C.L.E. (2015)' 'Run All Night (2015)'
 'Trainwreck (2015)' 'Selma (2014)' 'Ex Machina (2015)'
 'Still Alice (2015)' 'Wild Tales (2014)' 'The End of the Tour (2015)'
 'Red Army (2015)' 'When Marnie Was There (2015)'
 'The Hunting Ground (2015)' 'The Boy Next Door (2015)' 'Aloha (2015)'
 'The Loft (2015)' '5 Flights Up (2015)' 'Welcome to Me (2015)'
 'Saint Laurent (2015)' 'Maps to the Stars (2015)'
 "I'll See You In My Dreams (2015)" 'Timbuktu (2015)' 'About Elly (2015)'
 'The Diary of a Teenage Girl (2015)'
 'Kingsman: The Secret Service (2015)' 'Tomorrowland (2015)'
 'The Divergent Series: Insurgent (2015)' 'Annie (2014)'
 'Fantastic Four (2015)' 'Terminator Genisys (2015)'
 'Pitch Perfect 2 (2015)' 'Entourage (2015)' 'The Age of Adaline (2015)'
 'Hot Pursuit (2015)' 'The DUFF (2015)' 'Black or White (2015)'
 'Project Almanac (2015)' 'Ricki and the Flash (2015)'
 'Seventh Son (2015)' 'Mortdecai (2015)' 'Unfinished Business (2015)'
 'American Ultra (2015)' 'True Story (2015)' 'Child 44 (2015)'
 'Dark Places (2015)' 'Birdman (2014)' 'The Gift (2015)'
 'Unfriended (2015)' 'Monkey Kingdom (2015)' 'Mr. Turner (2014)'
 'Seymour: An Introduction (2015)' 'The Wrecking Crew (2015)'
 'American Sniper (2015)' 'Furious 7 (2015)'
 'The Hobbit: The Battle of the Five Armies (2014)' 'San Andreas (2015)'
 'Straight Outta Compton (2015)' 'Vacation (2015)' 'Chappie (2015)'
 'Poltergeist (2015)' 'Paper Towns (2015)' 'Big Eyes (2014)'
 'Blackhat (2015)' 'Self/less (2015)' 'Sinister 2 (2015)'
 'Little Boy (2015)' 'Me and Earl and The Dying Girl (2015)'
 'Maggie (2015)' 'Mad Max: Fury Road (2015)' 'Spy (2015)'
 'The SpongeBob Movie: Sponge Out of Water (2015)' 'Paddington (2015)'
 'Dope (2015)' 'What We Do in the Shadows (2015)' 'The Overnight (2015)'
 'The Salt of the Earth (2015)' 'Song of the Sea (2014)'
 'Fifty Shades of Grey (2015)' 'Get Hard (2015)' 'Focus (2015)'
 'Jupiter Ascending (2015)' 'The Gallows (2015)'
 'The Second Best Exotic Marigold Hotel (2015)' 'Strange Magic (2015)'
 'The Gunman (2015)' 'Hitman: Agent 47 (2015)' 'Cake (2015)'
 'The Vatican Tapes (2015)' 'A Little Chaos (2015)'
 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)'
 'Escobar: Paradise Lost (2015)' 'Into the Woods (2014)'
 'It Follows (2015)' 'Inherent Vice (2014)' 'A Most Violent Year (2014)'
 "While We're Young (2015)" 'Clouds of Sils Maria (2015)'
 'Testament of Youth (2015)' 'Infinitely Polar Bear (2015)'
 'Phoenix (2015)' 'The Wolfpack (2015)'
 'The Stanford Prison Experiment (2015)' 'Tangerine (2015)'
 'Magic Mike XXL (2015)' 'Home (2015)' 'The Wedding Ringer (2015)'
 'Woman in Gold (2015)' 'The Last Five Years (2015)'
 'Mission: Impossible â€“ Rogue Nation (2015)' 'Amy (2015)'
 'Jurassic World (2015)' 'Minions (2015)' 'Max (2015)'
 'Paul Blart: Mall Cop 2 (2015)' 'The Longest Ride (2015)'
 'The Lazarus Effect (2015)' 'The Woman In Black 2 Angel of Death (2015)'
 'Danny Collins (2015)' 'Spare Parts (2015)' 'Serena (2015)'
 'Inside Out (2015)' 'Mr. Holmes (2015)' "'71 (2015)"
 'Two Days, One Night (2014)' 'Gett: The Trial of Viviane Amsalem (2015)'
 'Kumiko, The Treasure Hunter (2015)']

In [10]:
#creer une serie avec index et valeur propriétaire
se_custom = Series(rot_scores, index=film_names)
se_custom

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [11]:
#choisi qq éléments dans la serie, par etiquette d'index, nourri par liste [list index]
se_custom[["Avengers: Age of Ultron (2015)","Gett: The Trial of Viviane Amsalem (2015)"]]

Avengers: Age of Ultron (2015)                74
Gett: The Trial of Viviane Amsalem (2015)    100
dtype: int64

In [12]:
#affiche les ele par slicing
se_custom[5:10]

The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64

In [13]:
#reindex s/series
#- Créer la liste original_index contenant l'index actuel à partir de l'attribut index.
#- Trier cet index en utilisant la méthode sorted() et assigner le résultat à la variable sorted_index.
#- Puis appliquer la méthode reindex() à notre Series custom_series afin de réindexer selon l'index de sorted_index.
#- Stocker le résultat dans la variable sorted_by_index.
#- Afficher le résultat.

origin_id = se_custom.index
sorted_id = sorted(origin_id) #sort by origin_id
sorted_by_id = se_custom.reindex(sorted_id) #reindex par sorted_id
print(sorted_by_id)

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

In [22]:
#Trier un ojt series
sc2 = se_custom.sort_index() #trier par id
sc3 = se_custom.sort_values() #tries par valeurs
sc2.head(5)

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64

In [21]:
print(sc3[0:10])

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

#trie décroissance
sc4 = se_custom.sort_index(ascending=False)
sc4.head(5)

In [24]:
#trie décroissance
sc4 = se_custom.sort_index(ascending=False)
sc4.head(5)

Woman in Gold (2015)                52
Wild Tales (2014)                   96
While We're Young (2015)            83
When Marnie Was There (2015)        89
What We Do in the Shadows (2015)    96
dtype: int64

In [25]:
#transformation des cols
#- Normaliser la Series series_custom (échelle de notes de 0 à 100) pour obtenir une échelle de notes de 0 à 5 en divisant l'objet par 20.
#- Assigner le nouvel objet Series à la variable series_normalized.
#- Afficher le résultat.
se_normalized = (se_custom/20)
se_normalized

Avengers: Age of Ultron (2015)               3.70
Cinderella (2015)                            4.25
Ant-Man (2015)                               4.00
Do You Believe? (2015)                       0.90
Hot Tub Time Machine 2 (2015)                0.70
                                             ...
Mr. Holmes (2015)                            4.35
'71 (2015)                                   4.85
Two Days, One Night (2014)                   4.85
Gett: The Trial of Viviane Amsalem (2015)    5.00
Kumiko, The Treasure Hunter (2015)           4.35
Length: 146, dtype: float64

Comparer et filtrer

In [26]:
#compare et filtre
#critere value est entre 50-75
critere1 = se_custom > 50
critere2 = se_custom < 75
critere1

Avengers: Age of Ultron (2015)                True
Cinderella (2015)                             True
Ant-Man (2015)                                True
Do You Believe? (2015)                       False
Hot Tub Time Machine 2 (2015)                False
                                             ...
Mr. Holmes (2015)                             True
'71 (2015)                                    True
Two Days, One Night (2014)                    True
Gett: The Trial of Viviane Amsalem (2015)     True
Kumiko, The Treasure Hunter (2015)            True
Length: 146, dtype: bool

In [28]:
both_critere = se_custom[critere1 & critere2]
both_critere[0:10]

Avengers: Age of Ultron (2015)    74
The Water Diviner (2015)          63
Unbroken (2014)                   51
Southpaw (2015)                   59
Insidious: Chapter 3 (2015)       59
The Man From U.N.C.L.E. (2015)    68
Run All Night (2015)              60
5 Flights Up (2015)               52
Welcome to Me (2015)              71
Saint Laurent (2015)              51
dtype: int64

In [33]:
#aligne des donnees
#- Créer la Series rt_critics qui index les valeurs des notes de la colonne RottenTomatoes (notes des critiques) avec comme index le nom des films (colonne FILM).
#- Créer la Series rt_users qui index les valeurs des notes de la colonne RottenTomatoes_User (note des utilisateurs) avec comme index le nom des films (colonne FILM).
#- rt_critics et rt_users sont donc 2 objets Series contenant la moyenne des notes des critiques et des utilisateurs pour chaque film.
#- Puisque chaque Series utilise le même index (correspondant aux noms des films), utiliser des opérations mathématiques pour retourner la moyenne des notes des critiques et des utilisateurs pour chaque film.
#- Assigner la Series résultante à la variable rt_mean.
#- Afficher le résultat.

rt_critics = Series(fandago["RottenTomatoes"].values, index = fandago["FILM"])
rt_users = Series(fandago["RottenTomatoes_User"].values, index = fandago["FILM"])

In [34]:
rt_mean = (rt_critics + rt_users)/2
print(rt_mean)

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64